* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #09203f;
}

body {
  height: 100vh;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

/* UTILITY */
.container {
  margin: 0 auto;
  width: 90%;
}

.list {
  list-style: none;
}

.list li {
  margin-bottom: 20px;
}

.list .language img {
  max-height: 1em;
}

.poster img {
  max-width: 100%;
}

h2 {
  color: #f9f9f9;
  font-size: 3rem;
  text-align: center;
  line-height: 2em;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb75 {
  margin-bottom: 75px;
}

/* BOOLFIX APP */
#app {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  background: linear-gradient(180deg, rgba(9, 32, 63, .9) 75%, rgba(83, 120, 149, .9) 100%);
}

/* HEADER - Search bar section */
header.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 0 75px;
  height: 75px;
  width: 100%;
  background-color: rgba(249, 249, 249, .8);
  transition: .2s;
  box-shadow: 0 0 4px rgba(0, 0, 0, .6);
  z-index: 1;
}

header.search-bar:hover {
  background-color: rgba(249, 249, 249, 1);
}

.logo {
  color: #1d3559;
  height: 100%;
}

.logo img {
  display: block;
  max-height: 100%;
}

.search select {
  margin-right: 15px;
  padding: 5px 10px;
  height: 30px;
  border: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #09203f;
  background-color: rgba(255, 255, 255, .6);
  box-shadow: 0 0 1px #09203f;
  appearance: none;
  transition: .2s;
}

.search select option {
  color: #09203f;
  background-color: rgba(249, 249, 249);
}

.search-input {
  height: 30px;
  width: 300px;
  padding: 5px 15px;
  border: 0;
  border-radius: 15px;
  color: #09203f;
  background-color: rgba(255, 255, 255, .6);
  box-shadow: 0 0 1px #09203f;
  transition: .2s;
}

.search-input::placeholder {
  color: #09203f;
}
.search select:focus,
.search select:hover,
.search-input:focus,
.search-input:hover {
  box-shadow: 0 0 6px #09203f;
}

/* MAIN CONTENT - show search results */
main.show-results {
  flex-grow: 1;
  padding: 75px 0;
  overflow-y: auto;
}

.show-results > div:first-child::after {
  display: block;
  content: '';
  margin: 50px auto 0;
  width: 60%;
  height: 3px;
  background-color: #f9f9f9;
  border-radius: 3px;
}

/* Movies & Series */
.category {
  padding: 0 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.movies-section,
.series-section {
  padding: 25px 50px;
  text-align: center;
}

.movies,
.series {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie,
.serie {
  position: relative;
  margin: 20px 20px;
  padding: 20px;
  max-width: 220px;
  background-color: rgba(249, 249, 249, .6);
  border-radius: 15px;
  cursor: pointer;
  transition: .3s;
  overflow: hidden;
}

.movie:hover,
.serie:hover {
  filter: drop-shadow(3px 3px 4px #102036);
  background-color: rgba(249, 249, 249, 1);
  transform: scale(1.1);
}

nav.filter-genres {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  max-width: 600px;
  min-height: 50px;
  border-radius: 25px;
  transition: .2s;
}

a.btn-genre {
  color: rgba(9, 32, 63, .5);
  padding: 8px 12px;
  margin: 5px 10px;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgb(249, 249, 249, .4);
  box-shadow: 4px 4px 4px rgba(9, 32, 63, 1);
  transition: .2s;
  cursor: default;
}

/* a.btn-genre:hover, */
a.btn-genre.selected {
  color: #09203f;
  background-color: rgb(249, 249, 249, 1);
  box-shadow: inset 4px 4px 4px rgba(9, 32, 63, .65);
}

.poster {
  margin: 0 auto;
  min-height: 320px;
}

.movie:hover .description,
.serie:hover .description {
  left: 0;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: -100%;
  padding: 15px 15px 30px;
  width: 100%;
  height: 100%;
  font-size: .85rem;
  line-height: 1.3rem;
  background-color: rgba(0,0,0,.9);
  border-radius: 25px;
  transition: .3s;
}

.description p {
  max-height: 90%;
  color: rgba(249, 249, 249, .6);
  overflow: hidden;
}

.description::after {
  display: block;
  height: 25px;
  content: 'Click to read more...';
  color: rgba(249, 249, 249, 1);
}

/* FOOTER - Filters */
footer.filters {
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 75px;
  min-height: 75px;
  width: 90%;
  background-color: rgba(249, 249, 249, .4);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .6);
  transition: .2s;
  z-index: 1;
}

footer.filters:hover {
  bottom: 0;
  background-color: rgba(249, 249, 249, .8);
}

/* Overlay */
.description-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 2;
}

.description-full-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px;
  width: 1200px;
  min-height: 60vh;
  border-radius: 70px;
  box-shadow: 0 0 10px #f9f9f9;
  background-color: #f9f9f9;
}

.description-full-screen .img-wrapper {
  margin-right: 30px;
  height: 100%;
}

.img-wrapper img {
  display: inline-block;
  max-height: 100%;
}

.description-wrapper {
  align-self: flex-start;
  line-height: 1.4em;
  font-size: 1.3rem;
  overflow: auto;
}